# Ignore everything
*

# Allow directories so Git can traverse into them
!*/

# Allow only the requested files
!*.tex
!*.pdf
!README.md
!LICENSE

# NOTE: Since you have an img_cap1 folder with images,
# they will be ignored by default based on your request.
# If you want to push your images as well, uncomment the lines below:
# !*.png
# !*.jpg
# !*.jpeg